div {
    scroll-snap-type: y mandatory;
}

.child {
    scroll-snap-align: start;
}
.scroll-container {
    scrollbar-width: none; 
    -ms-overflow-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    overflow-y: scroll;
    height: 70vh;
}


.scroll-container::-webkit-scrollbar {
    display: none;
   
}

.pills {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.pill-item {
    color: white;
    background-color: black;
    border: 1px solid #00e5d1;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    min-height: 1.75rem;
    padding: 1px;
    font-size: .675rem;
    line-height: 157.143%;
    display: flex;
    overflow: hidden;
    padding:5px 10px;
}

.heading-style{
    color: white;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
}
.imageDiv {
    grid-column: 1 / 2;
    position: sticky;
    top: 0;
    text-align: center;
}
.rightBottomDiv {
    grid-column: 2 / 3;
    gap: 1.875rem; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 65vh;
    display: flex;
    margin-top: 10px;
}
.linktag {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
    cursor: pointer;
}
